<div class="container p-4">

  <div *ngIf="!user">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>

  <div *ngIf="user" class="d-flex">
    <div class="w-25">
      <img [src]="user.avatar_url" width="100%" class="rounded-circle">

      <h3>{{user.login}}</h3>
      tab
    </div>
    <div class="flex-fill p-4">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>One</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-3">
                Name:
              </div>
              <div class="col-md-3">
                {{user.login}}
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Two</a>
          <ng-template ngbNavContent>
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
              farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
              ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
              helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
              8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
              stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <pre>Active: {{ active }}</pre>
    </div>
  </div>
</div>
