<div class="container">
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <h2> <span class="welcome"><marquee width="60%" direction="left" height="100px"> Welcome to Github Search!!</marquee></span> </h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <p>Enter your <span class="user">Github username</span>  in the input below to see <span class="user">Overview</span>  and <span class="user">Repositories</span></p>
    </div>
    <form [formGroup]="searchForm" (submit)= "search($event)" class="d-flex align-self-center p-3 w-100">
      <div class="flex-fill">
        <input class="form-control" type="text" formControlName="search">
      </div>
    <div>
      <button class="btn btn-dark"> Search</button>
    </div>
  </form>
  </div>
  </div>
