<div class="container">
<div class=" flex-colum h-100 justify-content-center align-items-center">
  <div class="p-3  d-flex justify-content-center align-items-center ">
    <h3>Welcome To Github Search</h3>
  </div>
    <div class="d-flex d-flex justify-content-center align-items-center ">
      <p>Type your Github username in the input below to see your repositories and overview </p>
    </div>

  <form [formGroup]="searchForm" (submit)= "search($event)" class="d-flex align-self-center p-3 w-100">
    <div class="flex-fill">
      <input class="form-control" type="text" id="tras" formControlName="search">
    </div>
  <div>
    <button class="btn btn-warning"> Search</button>
  </div>
</form>
</div>
</div>
